<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <h1 class="title">LOGIN TO START MESSAGING</h1>

    <form action="/login" method="post">
        <label for = "name">Your name:</label>
        <input type = "text" id = "name" name = "name" minlength="2" maxlength="10" placeholder="Name">
        <br>
        <input type = "submit" value="Войти">
    </form>
</body>
</html>