@font-face{
    font-family: theboldfont;
    src: url('theboldfont.ttf');
    font-weight: bold;
}

body {
    background-color: black;
}

.title {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 100px;
    margin-bottom: 0px;
    font-family: "theboldfont";
}

.description {
    text-align: center;
    color: white;
}

.button {
    position: absolute;
    background: none;
    border: 3px;
    border-color: white;
    border-style: solid;
    color: white;
    top: 50%;
    left: 40%;
    width: 20%;
    height: 10%;
    transition: background-color 2s, box-shadow 3s;
    font-size: 25px;
}

.button:hover {
    background-color: gray;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0 0 30px rgba(255,255,255,0.5);
}

footer {
    color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: color 1s;
}

footer:hover {
    color: white;
    transition: color 0.1s;
}

footer:after {
    color: black;
    transition: color 1s;
    content: "";
}

footer:hover:after {
    color: white;
    transition: color 0.1s;
    content: " <--- .online without ssl";
}