@font-face{
    font-family: theboldfont;
    src: url('theboldfont.ttf');
    font-weight: bold;
}
body {
    background-color: black;
}
.title {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: theboldfont;
}

form {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 100%;
}

form input[type=text] {
    width: 40%;
    height: 100px;
}

form input[type=submit] {
    width: 40%;
    height: 100px;
}